function pow 3
    push argument 0
	pop local 0
    push constant 1
	pop local 1
	push argument 1
	pop local 2

    label LOOP_START
    push local 0
    push local 1
    call mult 2
    pop local 1
    push local 2
    push constant 1
    sub
    pop local 2
    push local 2
    push constant 0
    gt
    if-goto LOOP_START
    push local 1
    return
